################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NS.Api/obj
/NS.Core/obj
/NS.DTO/obj
/NS.Api/bin/Debug/net5.0
/NS.Data/obj
/NS.DTO/bin/Debug/netstandard2.0
/~$SS-NotificationSystem Architecture Review.pptx
/NS.Core/bin/Debug/netstandard2.0
/NS.Data/bin/Debug/netcoreapp3.1
/NS.Services/bin/Debug/netcoreapp3.1
/NS.Services/obj
