################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NS.Api/obj
/NS.Core/obj
/NS.DTO/obj
